/* Sidebar CSS */

.profile-sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info-card,
.profile-bullet-points {
  margin-bottom: 20px;
}

.name {
  display: block;
  margin-left: 10;
  margin-top: 10;
  color: white;
  padding-bottom: 10px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 50px;
}
.role{
  color: white;
  padding-bottom: 30px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-size: 30px;
}
.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Project CSS */
.project-card {
  width: 100%;
  height: 5%; /* Adjust this value to get the desired rectangle shape */
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.rectangle-image {
  width: 100%;
  height: 500px; /* Adjust this value to get the desired rectangle shape */
  object-fit: cover; /* This will prevent the image from being distorted */
  object-position: top; /* This will position the image at the top */
  border-top: 10px solid #000000;
}

.project-card .card-body {
  background-color: #333; /* dark background */
  color: #fff; /* light text */
}

/* Background CSS */

.sidebar-bg {
  background-color: #454444; /* Adjust this value to get the desired color */
  border-right: 2px solid #7c7c7c;
}

.main-content-bg {
  background-color: #2b2a2a; /* Adjust this value to get the desired color */
}

/* About CSS */

.about-heading{
  color: #e0e0e0; /* Adjust this value to get the desired color */
  padding-top: 50px;
  padding-bottom: 50px;
  font: oblique bold;
}

.about-content{
  color: #b4b4b4; /* Adjust this value to get the desired color */
  font: oblique;
  font-size: 25px;
}

/* Tabs CSS */

/* This will make each link take up exactly the amount of space that the word has */

.Tabs {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* This will make each link take up exactly the amount of space that the word has */
.Tabs .nav-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

/* This will give each link its own card that is as big as the word */
.Tabs .nav-item {
  display: inline-block;
  background-color: rgb(197, 197, 197);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

/* This will change the text color to white */
.Tabs .nav-link {
  color: white;
}

/* Fading CSS */

.fade-in-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-out.in-view {
  opacity: 1;
}

/* Experience CSS */