.profile-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.profile-picture img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info-card,
.profile-bullet-points {
  margin-bottom: 20px;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}